$main-color: #e86e1e;
$headerHeight: 44px;

.header {
  height: $headerHeight;
  background-color: $main-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  box-sizing: border-box;
  margin-top: $headerHeight;
  padding: 16px;
  height: calc(100vh - $headerHeight);

  .weather-row {
    display: flex;
    justify-content: center;
    .column {
      width: clamp(160px, 50%, 400px);
    }
    .location-card {
      width: clamp(320px, 100%, 800px);
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
