<div class="header">

</div>

<div class="content">
  <ng-container *ngIf="weatherService.weatherData$ | async as weatherData; else loading">
    <div class="weather-row location">
      <app-location-tag class="location-card"
                        [location]="weatherData.name"
                        [timestamp]="weatherService.timestamp$ | async">
      </app-location-tag>
    </div>

    <div class="weather-row">
      <app-current-weather class="column" [weather]="weatherData">
      </app-current-weather>
      <app-forecast class="column" [forecast]="weatherService.forecastData$ | async">
      </app-forecast>
    </div>
  </ng-container>


  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <div class="button-container">
    <button mat-raised-button (click)="refresh()">Refresh</button>
  </div>
</div>

