<div class="current-weather-container">
  <ng-container *ngIf="weather">
    <div class="temperature">{{weather.main.temp | number: '1.1-1'}} &#8451;</div>
    <div><img [src]="weatherIcon"></div>
    <div class="description">{{weather.weather[0].description}}</div>
    <span>{{"min" | translate}}: {{weather.main.temp_min | number: '1.1-1'}} &#8451;</span>
    <span>{{"max" | translate}}: {{weather.main.temp_max | number: '1.1-1'}} &#8451;</span>
    <span>{{"humidity" | translate}}: {{weather.main.humidity | number: '1.0-0'}} %</span>
  </ng-container>
</div>
